<html>
    <head>
        <title>Add Books</title>
        <link rel="stylesheet" href="../static/addBooks.css">
    </head>
    <body>
        <!-- <h1>Add Books</h1> -->
        <form action="/bookAdd" method="post">
            <input type="text" name="name" placeholder="Enter the book name" required>
            <input type="text" name="author" placeholder="Enter the author name" required>
            <input type="text" name="edition" placeholder="Enter the Edition" required>
            <input type="text" name="price" placeholder="Enter the proce of book" required>
            <button>Add Book</button>
        </form>
    </body>
</html>