<html>
    <head>
        <title>Admin Log In</title>
        <link rel="stylesheet" href="../static/signin.css">
    </head>
    <body>
        <!-- <h1>Admin Login</h1> -->
        <form action="/verify-admin" method="post">
            <input type="email" name="email" placeholder="Enter your Email"/>
            <input type="password" name="password" placeholder="Enter your Password"/>
            <button>Login</button>
        </form>
    </body>
</html>