<html>
    <head>
        <title>Profile page</title>
        <link rel="stylesheet" href="../static/profile.css">
    </head>
    <body>
        <h1>Profile Page</h1>
        <p>username : <%= uname%></p>
        <p>email : <%= email%></p>
        <div class="btn">
            <a href="/update">Update Profile</a>
            <a href="/myCart">MyCart</a>
        </div>
    </body>
</html>